.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.item {
    background-color: #ddd;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background-color: #929292;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#root {
    max-width: 100vw;
    margin: 0 auto;
    padding: 2rem;
}

.main {
    background-color: #242424;
}

.card-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    margin-top: 10%;
    width: 80%;
    height: 80%;
    height: auto;
    
}

.card h2 {
    font-size: 24px;
    margin: 20px;
}

.card p {
    margin: 0 20px 20px;
}

.card a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 20px 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.read-the-docs {
    color: #888;
}

h2 {
    padding-right: 15px;
    padding-left: 15px;

    font-weight: bold;
    font-size: 2em;
}

.justify-content-between {
    justify-content: space-between;
}

.card:hover {
    position: relative;
    top: -5px;
    left: -1px;

    border-radius: 5px;

    color: #1e1f26;
    background: linear-gradient(90deg, rgb(197, 197, 236) 0%, rgb(166, 166, 212) 35%, rgb(172, 228, 239) 100%);
    transition: all 1.9s ease;

    cursor: pointer;
}

.card h3 {
    margin-top: 0;

    font-size: 1.5em;
}

.card__item {
    padding: 20px;
}
