#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  
  
}

.main {
  background-color: #242424;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}


h2 {
  padding-right: 15px;
  padding-left: 15px;

  font-weight: bold;
  font-size: 2em;
}

.justify-content-between {
  justify-content: space-between;
}


.column-4 {
  width: 23%;
  margin-bottom: 2%;
}

.card {
  /* BEGIN (write your solution here) */
  position: relative;
  
  top: 0px;
  left: 0px;
  /* END */

  padding: 30px;

  border: 1px solid #ccc;
  border-radius: 10px;

  transition: 2.7s;
}

.card:hover {
  
  position: relative;
  top: -15px;
  left: -10px;

  border-radius: 5px;
  
  color: #1e1f26;
  background: #03dac6;
  transition: all 0.9s ease;

  cursor: pointer;
}

.card h3 {
  margin-top: 0;

  font-size: 1.5em;
}

.card__item {
  padding: 20px;
}
